button, input[type=button] {
    font-size: 14pt;
    font-weight: bold;
    min-width: 140px;
    min-height: 50px;
    background-color:rgb(255, 242, 122);
    padding: 20px;
    margin: 20px;
    border: 2px solid #222;
    box-shadow: 2px 2px 2px #444;

}