<style>

* {
    border: 0; margin: 0; padding: 0; box-sizing: border-box;
}



    body {
        background-color: rgb(15, 231, 231);
        border-style: solid;
        padding: 4px;
        border: 4px solid rgb(121, 212, 121);

    }

    div {
        background-color: magenta;
        padding: 10px;
        border: 10px;

    }



    h1 {
        font-family: 'Courier New', Courier, monospace;
        color: greenyellow;
        border: black;
        background-color: lightskyblue
    }

    #greet {
        border: black 10px;
    }

    p {
        border: yellow;
        padding: 10px;
        background-color:green;
    
    }
</style>